.row {
    width: 440px;
}
.box {
    width: 55px;
    height: 55px;
    float: left;
}
#wrapper {
	border: 1px solid black;
 	width: 440px;
  	height: 440px;
}
.shape {
	width: 50px;
	height: 50px;
	margin: 2px;
	background: url('assets/chess-sprite.png') no-repeat ;
}
.white-horse {
	background-position: -184px -5px;
}
.white-queen {
	background-position: -5px -64px;
}
.white-king {
	background-position: -65px -5px;
}
.white-rooks {
	background-position: -5px -5px;
}
.white-bishops {
	background-position: -65px -64px;
}
.white-pawns {
	background-position: -124px -5px;
}
.black-horse {
	background-position: -65px -128px;
}
.black-queen {
	background-position: -124px -124px;
}
.black-king {
	background-position: -184px -65px;
}
.black-rooks {
	background-position: -128px -65px;
}
.black-bishops {
	background-position: -184px -124px;
}
.black-pawns {
	background-position: -5px -128px;
}